<p>
  &quot;<%= @quote["quote"] %>&quot;
  <br /> &ndash; <%= @quote["attribution"] %>
</p>

<p>
  Submitted by <%= @quote["submitter"] %>
</p>

<p>
  Viewing with user agent: <%= @user_agent %>
</p>
